# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted to LF
*.sh text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.md text eol=lf

# Explicitly declare binary files to be untouched
*.png binary
*.jpg binary
*.gif binary
*.pdf binary
